* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1080px;
    margin: auto;
    height: 100%;
    background-color: grey:
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(51, 71, 91);

}

#header-top {
    height: 100px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #F5F5F5;
}
#header-top-left {
    width: 30%;
    height: 100%;
    float: left;
    color: rgb(51, 71, 91);
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;

}
.fa-globe-americas {
    font-size: 20px;
    color: rgb(51, 71, 91);
    margin-top: 25px;
    margin-right: 10px;

}

#header-top-left a:link {
    text-decoration: none;
}

#header-top-left a:after {
    content: '\25BC';
    color: #7c98b6;


}
#header-top-right {

    height: 100%;
    float: right;
}
.fa-search {
    color: rgb(51, 71, 91);
    font-size: 20px;
    margin-top: 25px;
    margin-right: 10px;

}

.btn {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ff7a59;
    color:#ff7a59 ;
    text-decoration: none;
    font-size: 14px;
    margin-right: 20px;

}
.btn:hover {
    opacity: 0.3;
}

.btn-primary {
    background-color: #ff7a59;
    color: white;
}

#header-bottom {
    height: 100px;

    border-top: 1px solid rgb(51, 71, 91);
}

#header-bottom-left {
    width: 20%;
    height: 100%;
    float: left;
}
#logo-hubspot {
    margin-top: 30px;

}
#header-bottom-right {

    float: right;
}
.nav ul li {
    list-style-type: none;
    display: inline-block;
    color: rgb(51, 71, 91);
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-right: 20px;
    margin-top: 30px;
}
.nav ul li a:link {
    text-decoration: none;

}
.nav ul li a::after {
        content: '\25BC';
        color: #7c98b6;
}

#features {
    background-color: #FFEFD5;
}
#jumbo {
    width: 650px;
    height: 500px;
    position: relative;
}
.jumbo-content {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.jumbo-content h1 {
    color: rgb(51, 71, 91);
    font-size: 50px;
    margin-bottom: 40px;
    font-family: 'Source Sans Pro', sans-serif;
}
.jumbo-content p {
    color: rgb(51, 71, 91);
    font-size: 20px;
    margin-bottom: 30px;
    font-family: 'Source Sans Pro', sans-serif;
}


.jumbo-content .btn-primary {
    padding: 25px 20;
}

#get-started {
    color: rgb(51, 71, 91);
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 15px;
}
