* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1080px;
    margin: auto;
    height: 100%;
    background-color: grey:
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(51, 71, 91);

}
.container::after {
  content: "";
  clear: both;
  display: table;
}
#header-top {
    width:100%;
    position: fixed;
    height: 100px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f5f8fa;
    border-bottom: 1px solid rgb(51, 71, 91);
    z-index: 10;
}

#header-top-left {
    width: 30%;
    height: 100%;
    float: left;
    color: rgb(51, 71, 91);
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}
.fa-globe-americas {
    font-size: 20px;
    color: rgb(51, 71, 91);
    margin-top: 25px;
    margin-right: 10px;
}

#header-top-left a:link {
    text-decoration: none;
    padding: 10px;
}
#header-top-left a:after {
    content: '\25BC';
    color: #7c98b6;
}
#header-top-right {
    height: 100%;
    float: right;
}
.fa-search {
    color: rgb(51, 71, 91);
    font-size: 20px;
    margin-top: 25px;
    margin-right: 10px;
}
.btn {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ff7a59;
    color:#ff7a59 ;
    text-decoration: none;
    font-size: 14px;
    margin-right: 20px;
    display: inline-block;
}
.btn:hover {
    opacity: 0.3;
}
.btn-primary {
    background-color: #ff7a59;
    color: white;
}
#header-bottom {
    height: 100px;
    padding: 100px;

}
#header-bottom-left {
    width: 20%;
    height: 100%;
    float: left;
}
#logo-hubspot {
    margin-top: 30px;
}
#header-bottom-right {
    float: right;
}
.nav ul li {
    list-style-type: none;
    display: inline-block;
    color: rgb(51, 71, 91);
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-right: 20px;
    margin-top: 30px;
}
.nav ul li a:link {
    text-decoration: none;
    padding: 10px 0;
}
.nav ul li:not(:nth-child(2)) a::after {
        content: '\25BC';
        color: #7c98b6;
}


#features {
background-image: linear-gradient(to top right, #fef8f0, #fff3ee, #fff1ee);
}
#jumbo {
    width: 650px;
    height: 500px;
    position: relative;
}
.jumbo-content {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.jumbo-content h1 {
    color: rgb(51, 71, 91);
    font-size: 50px;
    margin-bottom: 40px;
    font-family: 'Source Sans Pro', sans-serif;
}
.jumbo-content p {
    color: rgb(51, 71, 91);
    font-size: 20px;
    margin-bottom: 30px;
    font-family: 'Source Sans Pro', sans-serif;
}
.jumbo-content .btn-primary {
    padding: 30px 25px;
}
#get-started {
    color: rgb(51, 71, 91);
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 15px;
}
#aquamarine {
    height: 100px;
    background-color: #ccffee;
    border-top: 3px solid #33475b;
    border-bottom: 2px solid #33475b;
}
#wrapper {
    background-color: #f5f8fa;
}
#powerful {

    width: 300px;
    float: left;
    margin-top: 30px;
}
#powerful h2 {
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 20px;

}
#powerful p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}
#free-crm {
    width: 600px;
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(51, 71, 91);
    float: right;
    margin-top: 30px;
    padding: 30px;
}
#free-crm h2 {
    margin-bottom: 20px;
        font-family: 'Source Sans Pro', sans-serif;
}
.fa-dot-circle {
    margin-left: 30px;
}

#pop-feat li {
    display: inline-block;
    margin-left: 20px;
}
.fa-check-circle {
    color: #ff7a59;
}

#three-box {
    background-color: #f5f8fa;
    
}
.white-box {
    background-color: white;
    width: 320px;
    margin-top: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    float: left;
    padding: 30px;
}

.white-box p {
    margin-top: 20px;
    margin-bottom: 30px;
}
.white-box ul li {
    list-style-type: none;
    text-align: left;
    margin-bottom: 20px;
}

.white-box:nth-child(2) {
    margin-left: 58px;
}
.white-box:last-child {
    float: right;
}
